<body>
       <h1>{{title}}</h1>  
      <div id="consumicion">
          Consumición: 
          <select id='comida' [(ngModel)]="elementoSeleccionado">
            <option *ngFor='let producto of carta' [ngValue]="producto">{{producto.plato}} {{producto.precio}}€</option>
        </select>
        <button type="button" (click)='addComanda()'>+</button>
      </div>
  
      <table id="Historial_Pedidos">
        <tr>
          <th id='producto'>Producto</th>
          <th id='precio'>Precio</th>
        </tr>
        <tr *ngFor='let producto of pedido; let linea=index'>
          <td id='producto'>{{producto.plato}}</td>
          <td id='precio'>{{producto.precio}}€</td>
          <td id='cantidad'>x{{producto.cantidad}}</td>
          <button type="button" (click)='delComanda(linea)'>-</button>
        </tr> 
        <tr id='total'>
          <td id='producto'>TOTAL</td>
          <td id='precio'>{{totalPedido}}€</td>
        </tr>   
      </table>  
  </body>