

<div id="container">
  <h1>{{title}}</h1>  

  <div>
    Filtrar:
    <input type="text" [(ngModel)] = 'filterWords'> 
  </div>

  <table>
    <tr>
      <th>Foto</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Año</th>
      <th>En venta desde</th>
      <th>Precio</th>
      <th>PVP</th>
      <th>Acciones</th>
    </tr>

    <tr *ngFor='let coche of getFiltred(filterWords); let i = index'>
      <th *ngIf="coche.foto != '' "><img [src]="coche.foto" alt="sin foto"> </th>
      <th *ngIf="coche.foto == '' ">(sin foto!)</th>
      <th>{{coche.marca | uppercase}}</th>
      <th>{{coche.modelo | lowercase}}</th>
    <th>{{coche.fecha_modelo | date: 'yyyy'}}</th>
      <th>{{coche.fecha_venta | date: 'MM - yyyy'}}</th>
      <th [ngClass]="{'bueno': coche.estado === 'BUENO', 'malo': coche.estado === 'MALO'}">{{coche.precio | currency : 'EUR': 'symbol':'1.0' }}</th>
      <th>{{coche.getPVP() | currency : 'EUR': 'symbol':'1.0' }}</th>
      <th><button (click)="discountCoche(i)">Rebajar</button> <button (click)="deleteCoche(i)">Vendido</button></th>
    </tr>
    
  </table>
  
</div>






<!-- <div id="contenedorHistorial">
  
  <table id="Historial_Pedidos">
    Consumiciones: <br>
    <tr>
      <th class="columna">Producto</th>
      <th class="columna">Precio</th>
    </tr>

    <tr  *ngFor='let producto of pedido; let linea=index'>
      <td class="columna">{{producto.plato}}</td>
      <td class="columna">{{producto.precio}}€</td>
      <td class="columna">x{{producto.cantidad}}</td>
      <button class='botones' type="button" (click)='delComanda(linea)'>-</button>
    </tr> 

    <tr>
      <td class="columna total" >TOTAL</td>      <td  class="columna total">{{totalPedido}}€</td>
    </tr>   
  </table>  
</div>      -->
